<h1>QR Code Generator</h1>

<h2>Query strings</h2>

<p>Welcome! We'll generate various types of QR codes for you if you visit the following paths and include the following query strings on the end:</p>

<dl>
  <dt>
    <h3>Any text</h3>
  </dt>
  <dd>
    <code>
      /text?content=Your text goes here
    </code>

    <p>Substitute your own text for <code>Your text goes here</code> .</p>
  </dd>

  <dt>
    <h3>URL</h3>
  </dt>
  <dd>
    <code>
      /url?page=https://www.wikipedia.org
    </code>

    <p>Substitute your own URL for <code>https://www.wikipedia.org</code> .</p>
  </dd>

  <dt>
    <h3>Wifi network</h3>
  </dt>
  <dd>
    <code>
      /wifi?ssid=Your network  name&pw=secret password
    </code>

    <p>Substitute your own network name for <code>Your network  name</code> and your own password for <code>secret password</code> .</p>
  </dd>

  <dt>
    <h3>Text message</h3>
  </dt>
  <dd>
    <code>
      /sms?phone=9876543210&message=Hi Alice! It's me,
    </code>

    <p>Substitute your own phone number for <code>9876543210</code> and your own starter message for <code>Hi Alice! It's me,</code> .</p>
  </dd>
</dl>

<hr>

<h2>Forms</h2>

<p>Oh, you don't enjoy typing query strings into your browser's address bar? Fine then, you can use these forms instead:</p>

<h3>Any text</h3>

<!-- Write your form here -->

<form action="/text">
  <label for="text">Text to search for</label>
  <input id="text" type="text" name="content">
  <button>Generate QR Code</button>
</form>

<h3>URL</h3>

<!-- Write your form here -->
<form action="/url">
  <label for="url">URL to link to</label>
  <input id="url" type="text" name="page">
  <button>Generate QR Code</button>
</form>

<h3>Wifi network</h3>

<!-- Write your form here -->
<form action="/wifi">

  <label for="network">Network name</label>
  <input id="network" type="text" name="ssid">

  <label for="password">Network password</label>
  <input id="password" type="text" name="pw">

  <button>Generate QR Code</button>
</form>

<h3>Text message</h3>

<!-- Write your form here -->

<form action="/sms">
  <label for="number">Phone number tp pre-fill</label>
  <input id="number" type="text" name="phone">

  <label for="message">Message to pre-fill</label>
  <input id="message" type="text" name="message">

  <button>Generate QR Code</button>
</form>
