<h1>QR Code Generator</h1>

<h2>Query strings</h2>

<p>Welcome! We'll generate various types of QR codes for you if you visit the following paths and include the following query strings on the end:</p>

<dl>
  <dt>
    <h3>Any text</h3>
  </dt>
  <dd>
    <code>
      /text?content=Your text goes here
    </code>

    <p>Substitute your own text for <code>Your text goes here</code> .</p>
  </dd>

  <dt>
    <h3>URL</h3>
  </dt>
  <dd>
    <code>
      /url?page=https://www.wikipedia.org
    </code>

    <p>Substitute your own URL for <code>https://www.wikipedia.org</code> .</p>
  </dd>

  <dt>
    <h3>Wifi network</h3>
  </dt>
  <dd>
    <code>
      /wifi?ssid=Your network  name&pw=secret password
    </code>

    <p>Substitute your own network name for <code>Your network  name</code> and your own password for <code>secret password</code> .</p>
  </dd>

  <dt>
    <h3>Text message</h3>
  </dt>
  <dd>
    <code>
      /sms?phone=9876543210&message=Hi Alice! It's me,
    </code>

    <p>Substitute your own phone number for <code>9876543210</code> and your own starter message for <code>Hi Alice! It's me,</code> .</p>
  </dd>
</dl>

<hr>

<h2>Forms</h2>

<p>Oh, you don't enjoy typing query strings into your browser's address bar? Fine then, you can use these forms instead:</p>

<h3>Any text</h3>

<form action="/text">
  <div>
    <label for="content_field">Text to search for</label>

    <input type="text" name="content" id="content_field">
  </div>

  <button>Generate QR code</button>
</form>

<h3>URL</h3>

<form action="/url">
  <div>
    <label for="page_field">URL to link to</label>

    <input type="text" name="page" id="page_field">
  </div>

  <button>Generate QR code</button>
</form>

<h3>Wifi network</h3>

<form action="/wifi">
  <div>
    <label for="ssid_field">Network name</label>

    <input type="text" name="ssid" id="ssid_field">
  </div>

  <div>
    <label for="pw_field">Network password</label>

    <input type="text" name="pw" id="pw_field">
  </div>

  <button>Generate QR code</button>
</form>

<h3>Text message</h3>

<form action="/sms">
  <div>
    <label for="phone_field">Phone number to pre-fill</label>

    <input type="text" name="phone" id="phone_field">
  </div>

  <div>
    <label for="message_field">Message to pre-fill</label>

    <input type="text" name="message" id="message_field">
  </div>

  <button>Generate QR code</button>
</form>
